<div class="randomBeerpage">
    <section><img id="randomBeerImg" src="<%=randomBeer[0].image_url%>"/> </section>
    <section id="randomBeerTextline"> <h3><%=randomBeer[0].name%></h3>
    <h4><%=randomBeer[0].tagline%></h4>
    <p><%=randomBeer[0].description%></p>
    <h4><%="Food Pairing"%></h4>
    <li id="foodPairing"><%=randomBeer[0].food_pairing%></li>
    <h4><%="Brewers Tips"%></h4>
    <p><%=randomBeer[0].brewers_tips%></p> </section>
</div>